/* html {
	display: flex;
    justify-content: center;
	background: #f1f3fa;
}


body {
	font-family: Georgia, serif;
	padding: 0px;
	margin: 0px;
	display: table-cell;
	vertical-align: middle;
} */

.slide img {
	display: none;
	width: 100%;
	height: 100%;
}

.slide.active img {
	display: block;
}

.dots {
	width: 100%;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5px;
}

.dot {
	display: block;
	width: 14px;
	height: 14px;
	border-radius: 50px;
	background-color: #cdd4db;
	margin-right: 18px;
	cursor: pointer;
}

.dot.active {
	background-color: #46adb8;
	border: 2px solid #16a1af;
}

.posts {
	margin: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.posts .card {
	float: left;
	text-align: center;
}
.card {
	background: red;
	width: 300px;
	height: 250px;
	margin-right: 10px;
}
.card .card-image img {
	width: 300px;
	height: 250px;
	overflow: hidden;
}

.form-area {
	margin: 20px;
	position: relative;

}

.form-area .input {
	padding-top: 10px;
}
.form-area form input,
textarea {
	display: block;
	margin-top: 5px;
}

.form-area form button {
	margin-top: 10px;
	margin-left: 10%;
}

.form-area img {
	position: absolute;
	top: 50px;
	right: 50px;
}

textarea {
	resize: none;
}